#root {
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.container {
	max-width: 1280px;
	display: flex;
	place-items: center;
}

.navbar {
	width: 100%;
	height: 5rem;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-img {
	width: 4rem;
	padding: 0.5rem;
}
.logo {
	padding: 1rem;
	color: #d8b054;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}
.fallback-container {
	justify-self: center;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fallback-spinner {
	width: 70px;
	height: 70px;
	border: 1rem solid #a8aef8;
	border-top: 1rem solid #646cffaa;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
}

.footer {
	font-weight: 500;
	width: 100%;
	padding: 2rem;
	bottom: 0;
	/* background-color: #646cffaa; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.list ul {
	margin: 1.5rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-content: center;
	text-align: center;
	gap: 1.5rem;
}
.pokemons {
	background-color: #222222;
	padding: 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.01rem #6e74c8;
}
.card {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

.card li {
	font-size: 1.2rem;
	font-weight: 500;
}

.game {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.player {
	width: 20rem;
	display: flex;
	flex-direction: column;
	place-items: center;
}
.stats {
	width: 20rem;
}
